/* Index.html Stylesheet */

/* Styling for Webpage*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body Styling*/
body {
  background-color: #d9dcd6;
}

/* Header Styling*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

/* All h1 Tags*/
h1 {
  display: inline-block;
  font-size: 48px;
}

/* All h2 Tags */
h2 {
  font-size: 20px;
}

/* All h3 Tags*/
h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* All p Tags */
p {
  font-size: 16px;
}

/* Link Styling*/
a {
  color: #ffffff;
  text-decoration: none;
}

/* Footer Styling */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

/* Logo coloring for seo */
.seo {
  color: #d9dcd6;
}

/* Elements for floating left - Image */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Elements floating right - Image */
.float-right {
  float: right;
  margin-left: 25px;
}

/* Clear the float */
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

/* Styling for divs in the Content section */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing,
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Styling for elements (divs) in the Aside section */
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Hero image styling */
#hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Styling for Content Section */
#content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

#content img {
  max-height: 200px;
}

/* Styling for the Benefits Section*/
#benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

#benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
